<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create new listing</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Topic</label>
      <input id="name" class="form-control" type="text" ng-model="contact.topic" required>
    </p>
    <p>
      <label>Description</label>
      <input id="name" class="form-control" type="text" ng-model="contact.description">
    </p>
    <p>
      <label>Budget</label>
      <input id="name" class="form-control" type="text" ng-model="contact.budget" required>
    </p>
    <p>
      <label>Location</label>
      <input id="name" class="form-control" type="text" ng-model="contact.location" required>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
