<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ listing.topic }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteListing(listing._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="listing.topic">Topic: {{ listing.topic }}</a></p>
    <p ng-if="listing.budget">Budget: {{ listing.budget }} </p>
    <p ng-if="listing.location">location: {{ listing.location }} </p>
<p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Listing form -->
<div ng-include="listingFormUrl">
</div>
