<div class="row" ng-hide="listing._id">
  <div class="col-md-6">
      <h2>Create new listing</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Topic (required)</label>
      <input id="name" class="form-control" type="text" ng-model="listing.topic" required>
    </p>
    <p>
      <label>Budget (required)</label>
      <input id="name" class="form-control" type="text" ng-model="listing.budget" required>
    </p>
    <p>
      <label>Location (required)</label>
      <input id="name" class="form-control" type="text" ng-model="listing.location" required>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveListing(listing)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
