<div class = "row">
  <div class="col-md-6">
    <h1>  Listings  </h1>
  </div>
</div>
<input type="text" class="form-control" ng-model="searchText" placeholder="Search Listings">
  <div ng-repeat="contact in contacts | orderBy:'firstName' | filter: searchText" class="row" style="cursor:pointer">
    <div class="col-md-9 col-xs-12">
      <div class="row">
        <ul class="list-group form-inline">
          <h3><a ng-href="#/contact/{{contact._id}}">{{ contact.firstName }} </a></h3>
        </ul>
      </div>
    </div>
  </div>

</div>
